<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/vulnfind_launcher_icon"
            android:label="@string/app.name"
            android:supportsRtl="true"
            android:theme="@style/Theme.VulnFind"
            tools:targetApi="33">
        <activity
                android:name=".AboutActivity"
                android:exported="false" />
        <activity
                android:name=".ListingActivity"
                android:exported="false"
                android:label="@string/activity.listing_title"
                android:theme="@style/Theme.VulnFind" />
        <activity
                android:name=".SettingsActivity"
                android:exported="false"
                android:label="@string/activity.settings_title"
                android:theme="@style/Theme.VulnFind" />
        <activity
                android:name=".DetailsActivity"
                android:exported="false"
                android:label="@string/activity.details_title"
                android:theme="@style/Theme.VulnFind" />
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:label="@string/activity.main_title"
                android:theme="@style/Theme.VulnFind">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name="androidx.work.impl.foreground.SystemForegroundService"
                tools:node="merge" />
    </application>

</manifest>